
.back-color{
    background-color:#1f201f;
}

.back-color1{
    background-color:#0f0f0f;
    color: aliceblue;
}
.font-carousel{
    font-size: 50px;
}
.centred{
    font-size: 30;
    text-align: center;
}
